{% extends 'base.html' %}

{% block title %}Password Changed - Task Management{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'accounts:profile' %}" class="breadcrumb-link">Profile</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'accounts:password_change' %}" class="breadcrumb-link">Change Password</a>
</li>
<li class="breadcrumb-item">
    <span class="breadcrumb-link">Success</span>
</li>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="fas fa-check-circle text-success" style="font-size: 5rem;"></i>
                </div>
                <h3>Password Changed Successfully</h3>
                <p class="mb-4">Your password has been changed. You can now log in with your new password.</p>
                <a href="{% url 'accounts:profile' %}" class="btn btn-primary">Back to Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
